:root{
    --bg : #fafafa;
    --font-display: "Archivo Narrow", sans-serif;
    --font: "Archivo", sans-serif;
    --hotpink: #e94057;
    --orange: #f27121;
    --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
}

body{
    background: var(--bg);
    min-height: 100vh;
    margin: auto;
    font-family: var(--font);
}